.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.console {
    margin-top: 5em;
    background-color: coral;
    width: 20em;
    height: 30em;
    border-radius: 2em;
    display: flex;
    justify-content:center;
    
}

.screenDiv {
    background-color: rgb(43, 40, 40);
    width: 18em;
    height: 14em;
    position: relative;
    top: 1em;
    border-radius: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.screen {

    background-color: darkgrey;
    width: 12em;
    height: 9em;
    margin-bottom: 1em;
      
}

.powerLight {
    position: absolute;
    width: 2.5em;
    height: 2.5em;
    left: 0.25em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;


}

.power {
    width: 2.5em;
    height: 1.25em;
    bottom: 0.4em;
    
}


.powerText {
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.587);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0em;
    position: relative;
    right: -0.15em;
    
}

.light {
    width: 2.5em;
    height: 1.25em;

}


.lightText {
    font-size: 1.5em;
    color: red;
    margin: 0em;
    position: relative;
    right: -0.55em;
    top: -0.2em;

}

.gbColor {

    width: 12em;
    height: 2.5em;
    position: absolute;
    bottom: 0.25em;
    display: flex;
    justify-content: center;
    align-items: center;

}

.gbHector {
    color:rgb(229, 224, 239);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    text-shadow: -0.05em 0.05em  rgb(3, 158, 242);
}

.buttonsDiv {
    width: 18em;
    height: 14em;
    position: absolute;
    top: 21em;
    display: flex;
    flex-direction: column;

}

.buttons1 {
    width: 18;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.buttons2 {
    width: 18;
    height: 7em;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    gap: 1em;
    

}

.directionButtons {
    width: 6em;
    height: 6em;

}


.abButtons {
    width: 6em;
    height: 6em;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1em;

}

.cruz {
    background: rgb(63, 63, 63);
    height: 6em;
    position: absolute;
    width: 2em;
    right: 12.5em;
   
   

}

.cruz:after {
    background: rgb(63, 63, 63);
    content: "";
    height: 2em;
    left: -2em;
    position: absolute;
    top: 2em;
    width: 6em;

}

.arriba {
    color: azure;
    position: absolute;
    rotate: 270deg;
    right: 0.5em;
    top: -0.75em;
}

.abajo {
    color: azure;
    position: absolute;
    rotate: 90deg;
    right: 0.6em;
    top: 3.5em;
}

.izq {
    color: azure;
    position: absolute;
    rotate: 180deg;
    right: 2.75em;
    top: 1.35em;
    z-index: 1;
}

.derecha {
    color: azure;
    position: absolute;
    right: -1.6em;
    top: 1.45em;
    z-index: 1;
}

.btnA {
    background-color: rgb(63, 63, 63);
    color: azure;
    width: 1.2em;
    height: 1.2em;
    font-size: 2em;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: 0.3em;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.btnB {
    background-color: rgb(63, 63, 63);
    color: azure;
    font-size: 2em;
    width: 1.2em;
    height: 1.2em;
    border-radius: 50%;
    text-align: center;
    position: relative;
    top: -0.3em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.select {
    width: 3em;
    height: 3em;
    margin-bottom: 1em;
}

.start {
    width: 3em;
    height: 3em;
    margin-bottom: 1em;
}

.btnSelect {
    width: auto;
    height: 1.5em;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;
}


.btnStart {
    width: auto;
    height: 1.5em;
    background-color: rgb(63, 63, 63);
    border-radius: 50%;

}

.textSelect {
    width: auto;
    height: 1.5em;
    font-size:0.8em;
    text-align: center;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.textStart {
    width: auto;
    height: 1.5em;
    font-size:0.8em;
    text-align: center;
    color: azure;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    
}









